<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <ComponentRef Id="MainAppShortcut"/>
    </ComponentGroup>

    <DirectoryRef Id="INSTALLFOLDER" FileSource="..\..\InstallFolder\">
      <Component Id="MainAppShortcut" Guid="{FDE58D8C-E6B6-4FC4-8E78-B193B0B7FF93}">
        <Shortcut
          Id="MainAppShortcut"
          Name="Pinnacle"
          Target="[INSTALLFOLDER]PinnacleSupervisor.exe"
          Directory="InstallProgramMenuFolder"
          WorkingDirectory="INSTALLFOLDER"/>

        <!--<Shortcut
          Id="OperatorInterfaceShortcut"
          Name="PinnacleOperatorInterface"
          Target="[INSTALLFOLDER]Shared/PinnacleOperatorInterface.exe"
          Directory="InstallProgramMenuFolder"
          WorkingDirectory="INSTALLFOLDER"/>-->
        <RegistryValue Id="RegShortcutKey"
                       Root="HKCU"
                       Key="SOFTWARE\!(loc.ProductFolderName)"
                       Name="Shortcut"
                       Value="1"
                       Type="integer"
                       KeyPath="yes"/>
        <RemoveFolder Id="RemoveStartMenu" Directory="InstallProgramMenuFolder" On="uninstall"/>
      </Component>
    </DirectoryRef>

  </Fragment>
</Wix>
